@import url(../css/font.css);

/* Preparation of novel fonts */
:root{

    /* theme font-family */
    --Abel: 'Abel',cursive;
    --Anton: 'Anton',cursive;
    --Josefin: 'Josefin',cursive;
    --Lexend: 'Lexend',cursive;
    --Livvic: 'Livvic',cursive;
}

/* global styling */

body{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color:gray;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h1{
    font-family: var(--Josefin);
    font-size:2.5rem ;
}

h2{
    font-family:var(--Lexend) ;
    font-size: 1.8rem;
}

h3{
    font-family:var(--Lexend) ;
    font-size: 1.2rem;
}

h4{
    font-family:var(--Lexend) ;
    font-size: 1.0rem;
}


/* nav menu */
.nav-menu{
    background-color: white;
    height: 0;
    min-height: 10vh;
    overflow: hidden;

    /* for aimation */
    transition: height 0.3s ease;
}

.nav-menu .nav-brand{
    flex: 3;
}

.nav-brand img{
    width: 150px;
    height: 80px;
}


.nav-menu .nav-item{
    flex: 4%;
}

.nav-item .items{
    padding: 2rem;
}

.nav-item .items:hover{
    background-color: royalblue;
}

.nav-item .items:hover a{
    color: white;
}


.nav-menu .social{
    flex: 1;
    padding: 2rem;
}

.social .bland{
    padding: 0 .3rem;
    font-size:1.2rem;
}

.social .bland a:hover{
    color: blue;
}

.nav-menu .toggle-bar{
    position: absolute;
    top: 2%;
    left: 90%;
    display: none;
    cursor: pointer;
}

.nav-menu .toggle-bar .toggle-icon:hover{
    color: blue;
}

/* Additional class after toggle icon*/
.collapse{
    height: 17rem;
}

/* Main section */
main .main{
    position: relative;
    background: url(../asset/2.jpg);
    background-size: cover;
    height: 876px;
}

.main .img-black{
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.418);
    width: 100%;
    height: 876px;
}

.main .site-explanation{
    color: white;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    text-align: center;
}

/* History section */
main .History{
    position: relative;
    background: url(../asset/history.jpg);
    background-repeat: none;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.History .history-title{
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.History .next{
    position: absolute;
    top: 40%;
    right: 30px;
    color: white;
    font-size: 2em;
    cursor: pointer;
}
.History .prev{
    position: absolute;
    top: 40%;
    left: 30px;
    color: white;
    font-size: 2em;
    cursor: pointer;
}



.History .carousel{
    width: 88%;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    display: block;
}

.carousel .post{
    width: 260px;
    height: 500px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem gray;
}

.carousel .post .post-img{
    width: 100%;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0;

}

.carousel .post .content-explanation{
    margin-top: 0;
    height: 200px;
    padding: 0px 10px;
}

/* Articles */
main .article{
    display: flex;
    flex-direction: column;
    background: url(../asset/article.jpg);
    background-size: 100%;
    width: 100%;
    height: 500vh;
}

.article-title{
    text-align: center;
    padding: 0;
    margin: 30px 0 60px 0;
    color: white;
}

.art-wrap{
    display: flex;
    flex-direction: column;
    width: 86%;
    margin: 0 auto;
}

.art{
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s;
}

.art.show{
    transform: none;
    opacity: 1;
}

.art:not(:first-of-type){
    margin-top: 100px;
}

.art:nth-of-type(odd) .contentsText{
    right: 0;
}

.art:nth-of-type(even) img{
    margin-left: auto;
}

.art:nth-of-type(even) .contentsText{
    align-items: flex-start;
}

.art-img{
    width: 650px;
    height: 650px;
    border-radius: 5px;
    display: block;
}

.contentsText{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 40px;

}

.art-title{
    color: white;
    margin-bottom: 30px;
    white-space: nowrap;
    font-size: 30px;
    line-height: 1.4;
    letter-spacing: .05em;
    background-color: rgba(20,20,20,0.8);
    border-radius: 5px;
    padding: 20px;

}

.date-link{
    display: flex;
    padding: 20px;
    color: white;
    white-space: nowrap;
    background-color: rgba(20,20,20,0.65);
    border-radius: 5px;
}

.date-link p{
    margin: 0;
    padding: 0;
}

.date-link a{
    color: white;
    font-weight: bold;
}

.date-link a:hover{
    color: red;
    font-weight: bold;
}

.art-sum{
    line-height: 1.6;
    color: white;
    max-width: 340px;
    padding: 15px;
    background-color: rgba(20,20,20,0.5);
    border-radius: 5px;
}

/* Responsible design */
@media screen and (max-width:770px){
    .nav-menu .nav-item{
        flex-direction: column;
    }

    .nav-menu{
        display: block;
    }

    .nav-item .items{
        padding: 0.5rem;
        text-align: center;
    }

    .nav-menu .social{
        padding: 1rem;
    }

    .nav-menu .toggle-bar{
        display: initial;
    }
}
